{{!-- navbar --}}
<nav class="white">
  <div class="container nav-wrapper white">
    <a href="/" class="brand-logo blue-grey-text text-darken-1">
      <img src="images/waitER-logo.PNG" height="40">
    </a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger blue-grey-text text-darken-1">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a href="/" class="nav-link">Home</a>
      </li>
      <li>
        <a href="/login" class="nav-link">Log In</a>
      </li>
      <li>
        <a href="/user" class="nav-link">My Profile</a>
      </li>
      <li>
        <a href="/waitER_INFO_ONLY" class="nav-link">Hospitals</a>
      </li>
    </ul>
  </div>
</nav>
{{!-- sidenav --}}
<ul class="sidenav" id="mobile-demo">
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    <a href="/login">Log In</a>
  </li>
  <li>
    <a href="/user">My Profile</a>
  </li>
  <li>
    <a href="/waitER_INFO_ONLY" class="nav-link">Hospitals</a>
  </li>
</ul>

{{!-- hospital info --}}
<div class="container">
  <div class="row" id="hospital-title">
    <img src="images/nw-logo.PNG" height="100px">
  </div>

  <div class="row s12" id="hospital-info">
    <div class="col s12 m6 xl6">
      <h3>Google Maps goes here</h3>
    </div>
    <div class="col s12 m6 xl3">
      <h3>Wait Time Goes here</h3>
    </div>
    <div class="col s12 m6 xl3">
      <h3>Distance Goes Here</h3>
    </div>
  </div>

  <div class="row s12">
    <button class="btn waves-effect waves-light red darken-3" type="submit" name="action" id="reserve-appt">Reserve
      Appt. Time
      <i class="material-icons right">add_box</i>
    </button>
  </div>

</div>


{{!-- footer --}}
<footer class="page-footer red darken-3">
  <div class="footer-copyright">
    <div class="container">
      &copy 2018
      <a class="blue-grey-text text-lighten-3">wait<i><b>ER</b></i></a>
    </div>
  </div>
</footer>