{{!-- navbar --}}
<nav class="white">
  <div class="container nav-wrapper white">
    <a href="/" class="brand-logo blue-grey-text text-darken-1">
      <img src="images/waitER-logo.PNG" height="40">
    </a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger blue-grey-text text-darken-1">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a href="/" class="nav-link">Home</a>
      </li>
      <li>
        <a href="/login" class="nav-link">Log In</a>
      </li>
      <li>
        <a href="/user" class="nav-link">My Profile</a>
      </li>
      <li>
        <a href="/waitER_INFO_ONLY" class="nav-link">Hospitals</a>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li>
    <a href="/">Home</a>
  </li>
  <li>
    </div>
    <a href="/login">Log In</a>
  </li>
  <li>
    <a href="/user">My Profile</a>
  </li>
  <li>
    <a href="/waitER_INFO_ONLY" class="nav-link">Hospitals</a>
  </li>
</ul>


<div class="container main">
  <div class="row">
    <div class="col s6">
      <div class="user-profile">
        <img src={{picture}} class="avatar img-circle img-thumbnail img-size" alt="avatar">
        <h6>{{user}}</h6>

        <br>

        <p>Your Upcoming Appointments</p>
      </div>
      <div class="HospitalAppt">
        <table style="width:100%">
          <tr>
            <th>Hospital Name</th>
            <th>Appointment Date</th>
            <th>Appointment Time</th>
          </tr>
          <tr>
            <td>Rush</td>
            <td>9/20/18</td>
            <td>10:00AM</td>
          </tr>

        </table>
      </div>

    </div>

    <div class="col s6">


      <div class="user-login">
        <form class="col s12 x25" id="user-login">
          <div class="row">
            <div class="input-field col s1 m3 xl3">
              <input id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s12 m3 xl3">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
            <div class="input-field col s12 m3 xl3">
              <input id="zip_code" type="text" data-length="5" class="validate">
              <label for="zip_code">Zip Code</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 xl6">
              <select class="select" id="reasonForVisit">
                <option value="" disabled selected>Reason for Visit</option>
                <option value="Broken Bone">Broken Bone</option>
                <option value="Flu Symptoms">Flu Symptoms</option>
                <option value="Fever">Fever</option>
                <option value="Severe Headache">Severe Headache</option>
                <option value="Dizziness">Dizziness</option>
              </select>
            </div>
            <div class="input-field col s12 m6 xl6">
              <select class="select" id="insurance-provider">
                <option value="" disabled selected>Insurance Provider</option>
                <option value="Blue Cross Blue Shield">Blue Cross Blue Shield</option>
                <option value="Aetna">Aetna</option>
                <option value="United Healthcare">United Healthcare</option>
              </select>
            </div>
          </div>
          <button class="btn waves-effect waves-light red darken-3" type="submit" name="action" id="find-hospitals">Find
            Hospital
            <i class="material-icons right">add_box</i>
          </button>
        </form>
      </div>
    </div>

  </div>
</div>
</div>
</div>

<div class="row">
  <div class="col s15 push-s10">


  </div>
</div>



<footer class="page-footer red darken-3">
  <div class="footer-copyright">
    <div class="container">
      &copy 2018
      <a class="blue-grey-text text-lighten-3">wait<i><b>ER</b></i></a>
    </div>
  </div>
</footer>