{{!-- navbar --}}
<nav class="white">
  <div class="container nav-wrapper white">
    <a href="index.html" class="brand-logo blue-grey-text text-darken-1">
      <img src="images/waitER-logo.PNG" height="40">
    </a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger blue-grey-text text-darken-1">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a href="portfolio.html" class="nav-link">Home</a>
      </li>
      <li>
        <a href="aboutme.html" class="nav-link">Log In</a>
      </li>
      <li>
        <a href="resume.html" class="nav-link">My Profile</a>
      </li>
      <li>
        <a href="contact.html" class="nav-link">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li>
    <a href="portfolio.html">Home</a>
  </li>
  <li>
    <a href="aboutme.html">Log In</a>
  </li>
  <li>
    <a href="resume.html">My Profile</a>
  </li>
  <li>
    <a href="contact.html">Contact</a>
  </li>
</ul>


<div class="container">
  <div class="row" id="title">
    Please choose a hospital from the list below:
  </div>

  <div class="row s12" id="hospital-display"> 
    <div class="col s3">
        Hospital Name
    </div>
    <div class="col s3">
        Hospital Location
    </div>
    <div class="col s3">
        Wait Time
    </div>
    <div class="col s3">
        Map
    </div>
    <hr>
  </div>

</div>

<footer class="page-footer red darken-3">
        <div class="footer-copyright">
            <div class="container">
                &copy 2018
                <a class="blue-grey-text text-lighten-3">wait<i><b>ER</b></i></a>
                <a href="https://github.com/jmgerow" target="_blank"><i class="fab fa-github fa-2x" id="footer-icons"></i></a>
                <a href="https://www.linkedin.com/in/justingerow/" target="_blank"><i class="fab fa-linkedin fa-2x" id="footer-icons"></i></a>
                <a href="https://twitter.com/jmgerow" target="_blank"><i class="fab fa-twitter-square fa-2x" id="footer-icons"></i></a>
            </div>
        </div>
    </footer>




<!--jquery-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Materialize JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<!--local js-->
<script src="/js/index.js"></script>