body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.list-group-item {
  line-height: 2.5;
}


.nav-link {
  color: #546e7a;
  
}

#logo {
  margin-top: 20px;
}

.parallax-container {
  height: 350px;
}

#title {
  margin-top: 20px;
  font-size: 40px;
}

#hospital-title {
  margin-top: 20px;
}

#hospital-info {
  margin-top: 20px;
}

#reserve-appt {
  margin-top: 30px;
}

#hospital-display{
  margin-top: 30px;
  margin-bottom: 100px;
}

#user-login {
  background-color: rgb(238, 238, 238);
  padding:15px;
  border-radius: 15px;
  margin-top: 10px;
}

.img-size {
  height: 200px;
  width: 200px;
}

 /* label color */
 .input-field label {
  color: #000;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: rgb(153, 22, 22);
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(230, 73, 73);
  box-shadow: 0 1px 0 0 rgb(230, 73, 73);
}

footer {
  margin-top: 45px;    
  }

#get-started{
  opacity: .90; 
  font-size: 40px;
  /* padding: 20px; */
  }

#profile-display {
  margin-top: 40px;
}

@media (max-width: 40em) {
  #logo {
  display: none;
  }
  }

  /* Handles the styling for the map */
  #map {
    height: 400px;
    width: 400px;
    position: relative !important;
    overflow: none !important;
  }

.page-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
  }